// general
#body{
width:800px;
font-family;Arial;
color:gray;}

p {
color:white;
font-family:Arial;

}

p.text{
color:white;
font-family:Arial;

}
h1{
color:white;
font-family:Arial;

}
h2{
color:white;
font-family:Arial;

}
h3{
color:white;
font-family:Arial;

}
h4{
color:white;
font-family:Arial;

}


a:link { 
color:magenta;
background-color:; 
text-decoration:none;}

a:visited {
color:magenta;
text-decoration:none;
}

a:hover {
background-color: magenta;
 color:white;}


//for header


#nav{padding-top:0x;
positon:fixed;
color:gray;
}
#nav ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align:;

}

#nav ul li { display: inline; }

#nav ul li a
{
text-decoration: none;
padding: .2em 1em;
color: gray;
background-color: ;
font-family:Arial;
}

#nav ul li a:hover
{
color: white;
background-color: magenta;
font-family:Arial;
}
.me{

width:100%;
border:none;
}

about{

width:100%;
border:none;
}



// for contact me section


#myinfo { 
width:800px;
color:gray;
font-family:Arial;
text-align:left;
color:gray;
}
#myinfo ul li { display: inline; }
#myinfo ul li img {border-color;white;}

.bordered{border-color:white;}
a img.bordered:hover {border-color:magenta;}

/////////// apple stuff by me ///////////////////////////

div#card{
  height:100%;
}
video#video{
  width:;
  padding-left:25px;
}
div#main{
    width:1050px;
}
iframe#webpages-a{
  /*width:100%;*/
  height:385px;
  
}
div.inline { 
      float:left; 
 }
 table.inline{
 	float:left;
 }
body{
  width: 100%;
  height: 100%;
}
#popcont{
  background-image:url('apple-bg.png');
  background-repeat:repeat;
  background-color: #cccccc;
  position: ;
  height:570px;
  width:350px;
  color: white;
}
#popcont2{
  background-image:url('apple-bg.png');
  background-repeat:repeat;
  background-color: #cccccc;
  padding-top:;
  position: ;
  height:245px;
  width:570px;
  color: white;
}
div.inotbar{
	background-color: black;
	color:white;
	position: relative;
	text-align: center;
}