// general
@charset "UTF-8";
#main{
background-image:url('../rec/img/android_bg_holo.png');
font-family: 'Comic Sans MS', 'Arial';
color:gray;}
p{
font-family: 'Comic Sans MS', 'Arial';
margin:0;
}
h1{
font-family: 'Comic Sans MS', 'Arial';	
margin:0;
}
h2{
font-family: 'Arial';	
margin:0;
}
a:link { 
color:white;
text-decoration:none;
font-family: 'Comic Sans MS', 'Arial';
}

a:visited {
color:white;
text-decoration:none;
}

a:hover {
 color:#33B5E5;}


body{
-webkit-text-size-adjust: none;
margin:0;
padding-top:0;
width: 100%;
height:100%;
}
#actionbar{
width:100%;
height:50px;
background-color:black;
color:white;
border-bottom:2px solid #33B5E5;
}
#actionbarmenunav{
	position: fixed;
	width:100%;
	border-bottom:;
	height:75px;
}
#menunav{
padding-top:60px;
width:100%;
-moz-box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 2px 2px 4px 1px #000;
box-shadow: 2px 2px 4px 1px #000;
height:25px;
background-color: #333333;
}
div.inline{
	float: left;
	
}
#emptyspace{
	width:100%;
	background-color: #333333;
	position: fixed;
	padding-top: 0px;
}
#bhome{
	width:25%;
	background-color: #333333;
	height:25px;
	border-right:2px solid gray;
}
#bprojects{
	width:25%;
	background-color: #333333;
	height:25px;
	border-right:2px solid gray;
}
#bphotography{
	width:25%;
	background-color: #333333;
	height:25px;
	border-right:2px solid gray;
}
#babout{
	width:24%;
	background-color: #333333;
	height:25px;

}
#content{
padding-top:40px;
}
#footer{

}